<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
惠普


惠普（HP）是世界最大的信息科技（IT）公司之一，成立于1939年，总部位于美国加利福尼亚州帕洛阿尔托市。惠普下设三大业务集团：信息产品集团、打印及成像系统集团和企业计算机专业服务集团。惠普（HP）公司是面向个人用户大中小型企业和研究机构的全球技术解决方案提供商。惠普（HP）提供的产品涵盖了IT基础设施，个人计算及接入设备，全球服务，面向个人消费者、大中小型企业的打印和成像等领域。在截止至2008年10月31日的2008财年中，惠普（HP）的营业额达1184亿美元。HP在2007美国财富500强中名列第14位。

联想


联想集团是1984年中国科学院计算技术研究所投资20万元人民币，由11名科技人员创办，是中国的一家在信息产业内多元化发展的大型企业集团，和富有创新性的国际化的科技公司。从1996年开始，联想电脑销量一直位居中国国内市场首位；2005年，联想集团收购IBM PC（Personal computer，个人电脑）事业部；2013年，联想电脑销售量升居世界第一，成为全球最大的PC生产厂商。2014年10月，联想集团宣布了该公司已经完成对摩托罗拉移动的收购。作为全球电脑市场的领导企业，联想从事开发、制造并销售可靠的、安全易用的技术产品及优质专业的服务，帮助全球客户和合作伙伴取得成功。联想公司主要生产台式电脑、服务器、笔记本电脑、智能电视、打印机、掌上电脑、主板、手机、一体机电脑等商品。

苹果


苹果公司创立之初，主要开发和销售的个人电脑，截至2014年致力于设计、开发和销售消费电子、计算机软件、在线服务和个人计算机。苹果的Apple II于1970年代开启了个人电脑革命，其后的Macintosh接力于1980年代持续发展。该公司硬件产品主要是Mac电脑系列、iPod媒体播放器、iPhone智能手机和iPad平板电脑；在线服务包括iCloud、iTunes Store和App Store；消费软件包括OS X和iOS操作系统、iTunes多媒体浏览器、Safari网络浏览器，还有iLife和iWork创意和生产套件。苹果公司在高科技企业中以创新而闻名世界。

华硕


华硕电脑股份有限公司（简称华硕），品牌为“ASUS”，公司成立于1990年4月2日。是台湾的国际品牌公司，也是全球最大的主板的制造商，同时亦为显卡、桌上电脑、通讯产品、光驱等产品的领导厂商。“华硕”之名来自该公司成为“华人之硕”的期望，而英文名ASUS的灵感来自希腊神话的天马Pegasus，象征艺术灵感、学习、完美与纯真，正符合华硕永不懈怠、追求卓越的精神。华硕是目前全球第一大主板生产商、全球第三大显卡生产商，同时也是全球领先的3C解决方案提供商之一，致力于为个人和企业用户提供最具创新价值的产品及应用方案。在世界顶尖工程技术研发团队支持下，华硕的产品线完整覆盖至笔记本电脑、主板、显卡、服务器、光存储、有线/无线网络通讯产品、LCD、PDA随身电脑、手机等全线3C产品。

宏碁


宏碁[hóng qi]成立于1976年，是一个国际化的自有品牌公司，主要从事于智能手机、平板电脑、个人电脑、显示产品与服务器的研发、设计、行销、销售及服务，也结合物联网积极发展云端技术与解决方案，是一个整合软件、硬件与服务的企业。宏碁2014年个人电脑出货量全球排名第四，营收为103.9亿美元，拥有全球约7000名员工。

戴尔


戴尔（DELL）——总部设在德克萨斯州奥斯汀(Austin)的戴尔公司于1984年由迈克尔61戴尔创立。作为全球领先的IT产品及服务提供商戴尔公司,致力于倾听客户 需求，提供客户所信赖和注重的创新技术与服务。受益于独特的直接经营模式， 戴尔在全球的产品销量高于任一家计算机厂商，并因此在财富500强中名列第25位。

三星


三星电子是三星集团旗下最大的子公司，是全球第二大手机生产商、全球营收最大的电子企业，2009年全球500强企业中，三星电子占据了第40位的一席之地。全球最受尊敬企业排名第50位，三星的品牌价值排名第19位，较2008年又有了2位的进步。在2011年的全球企业市值中为1500亿美元。

东芝


东芝（Toshiba），是日本最大的半导体制造商，也是第二大综合电机制造商，隶属于三井集团。公司创立于1875年7月，原名东京芝浦电气株式会社，1939年由东京电气株式会社和芝浦制作所合并而成。东芝业务领域包括数码产品、电子元器件、社会基础设备、家电等。20世纪80年代以来，东芝从一个以家用电器、重型电机为主体的企业，转变为包括通讯、电子在内的综合电子电器企业。进入90年代，东芝在数字技术、移动通信技术和网络技术等领域取得了飞速发展，成功从家电行业的巨人转变为IT行业的先锋。

神舟


深圳市神舟电脑股份有限公司的前身是深圳市神舟电脑有限公司，成立于2001年，是一家以IT( Information Technology)、IA(Information Application)为主业，以电脑技术开发为核心，集研发、生产、销售为一体的高科技企业。在15年的时间里，神舟电脑走过了一条从创立自有品牌的电脑整机，到实现自主研发生产高性能笔记本电脑、台式电脑、液晶一体电脑、LCD液晶显示器和智能电视及其周边设备的稳步发展之路。

微星


微星成立于1986年8月，英文品牌名称：Micro-Star。 总部位于台湾新北市中和区。 是全球前五大主板厂商之一和第一大显示卡生产商。微星已经成为成为全球前五大及台湾前三大的主机板制造商；同时也是台湾最大、全球前五大的伺服器制造商。而显示卡的表现更是令人赞叹，平均每2.8秒就有一张MSI显示卡诞生，七千万个微星显示卡的用户使得MSI已成为全球最多人选用的显示卡品牌，已连续四年蝉联全球显示卡销售冠军美誉。
</body>
</html>